<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="./vue.js"></script>
    <script src="./socket.io-1.4.5.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <title>新闻源监控</title>
</head>
<body>

<div id="news-origin-monitor-app">
    <h3>欢迎使用【新闻源】监控系统</h3>
    <div v-cloak>客户端连接数：{{connectionCount}}</div>

    <span v-if="isShowMonitoring">已连接到服务器，正在监控中……</span>
    <ul class="news-list" v-cloak>
        <li v-for="item in newsList">
            <span>{{item.origin}}</span>
            <a :href="item.originUrl" target="_blank">{{item.title}}</a>
            <span>{{item.authorName}}</span>
            <span>{{item.editorName}}</span>
        </li>
    </ul>
</div>

<script>
    var socket = io();
    var newsListApp = new Vue({
        el: '#news-origin-monitor-app',
        data: {
            newsList: [],
            connectionCount: 0,
            isShowMonitoring: false,
        }
    });

    socket.on('connections', function (event) {
        newsListApp.connectionCount = event.numConnections;
        newsListApp.isShowMonitoring = true;
    });
    socket.on('addNews', function (event) {
        newsListApp.newsList.unshift(event.data);
    });
</script>
</body>
</html>