@charset "UTF-8";

.body {
  width: 100%;
  .header {
    z-index: 3;
    position: fixed;
    width: 100%;
    .logo {
      font-size: 18px;
      float: left;
      line-height: 62px;
      margin-right: 10px;
      .logoTitle {
        color: #49a9ee;
        font-size: 18px;
      }
      img {
        margin-right: 4px;
        vertical-align: middle;
      }
    }
    .horizontalMenu {
      .menu {
        line-height: 64px;
        font-size: 14px;
      }
    }
    .verticalMenu {
      display: none;
    }
  }

  .content {
    z-index: 1;
    margin: 64px 0 26px 0;
  }

  .footer {
    z-index: 2;
    text-align: right;
    font-size: 12px;
    padding: 1px 6px;
    background-color: #fff;
    color: #aaa;
    position: fixed;
    bottom: 0;
    right: 0;
    .warning {
      color: #e66;
    }
  }

  @media only screen and (max-width: 768px) {
    .header {
      padding: 0 16px;
      .horizontalMenu {
        display: none;
      }
      .verticalMenu {
        display: inline-block;
        float: right;
        color: #fff;
        font-size: 2.6rem;
        line-height: 64px;
      }
    }
    .content {
      margin: 64px 40px 26px 0;
    }
    .footer {
      display: none;
    }
  }
}
