@charset "UTF-8";

.monitorCard {
  height: 100%;
  position: relative;
  padding-top: 48px;
  i.iconMove {
    margin-left: 8px;
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 18px;
    background-image: url(../../assets/icon_Move2.png);
    cursor: move;
  }
  .tableHeader {
    :global {
      .public_fixedDataTableCell_cellContent {
        padding: 2px 4px;
      }
    }
  }
  .tableCell {
    :global {
      .public_fixedDataTableCell_cellContent {
        padding: 2px 4px;
      }
    }
  }

  :global {
    .ant-card-head {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    .ant-card-extra {
      right: 10px;
    }
    .ant-card-body {
      padding: 0;
      height: 100%;
      > div {
        height: 100%;
      }
    }
  }
}
